{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/css/logout.css' %}">
{% endblock %}

{% block content %}

<div class="logout-wrapper">

    <div class="logout-card">
        <h2 class="logout-title">¿Deseas cerrar sesión?</h2>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Cerrar sesión</button>
        </form>

        <p class="cancel-text">
            <a href="/" class="cancel-link">Cancelar y volver a Glowin</a>
        </p>
    </div>

</div>

{% endblock %}