{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/css/password_reset_done.css' %}">
{% endblock %}

{% block content %}

<div class="reset-wrapper">
    <div class="reset-box">
        <h2 class="reset-title">📩 ¡Revisa tu correo!</h2>

        <p class="reset-message">
            Si existe una cuenta asociada, te enviamos un enlace para recuperar tu contraseña.
        </p>

        <a href="{% url 'account_login' %}" class="reset-link">Volver a iniciar sesión</a>
    </div>
</div>

{% endblock %}