{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/css/password_reset.css' %}">
{% endblock %}

{% block content %}

<div class="reset-wrapper">
    <div class="reset-box">

        <h2 class="reset-title">🔐 Recuperar contraseña</h2>
        <p class="reset-desc">Ingresa tu correo para enviarte instrucciones:</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="reset-btn">Enviar enlace</button>
        </form>

        <br>
        <a href="{% url 'account_login' %}" class="reset-link">
            ← Volver al inicio de sesión
        </a>

    </div>
</div>

{% endblock %}