{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account/css/signup.css' %}">
{% endblock %}

{% block content %}

<div class="signup-wrapper">
    <div class="signup-box">

        <h2 class="signup-title">✨ Crear cuenta</h2>
        <p class="signup-desc">Únete a Glowin y disfruta la mejor experiencia 💖</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="signup-btn">Registrarme</button>
        </form>

        <a href="{% provider_login_url 'google' %}" class="google-btn">
            Continuar con Google
        </a>

        <p class="signup-login">
            ¿Ya tienes cuenta?
            <a href="{% url 'account_login' %}">Inicia sesión</a>
        </p>

    </div>
</div>

{% endblock %}