{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'productos/css/carrito.css' %}">
{% endblock %}

{% block content %}

<div class="cart-container">

    <h1 class="cart-title">Tu carrito</h1>

    <div class="cart-box">
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>

                    <td>$ {{ item.producto.precio|floatformat:0 }}</td>

                    <td>
                        <form action="{% url 'restar_cantidad' item.id %}" method="post" class="qty-form">
                            {% csrf_token %}
                            <button class="qty-btn">-</button>
                        </form>

                        <span class="qty-number">{{ item.cantidad }}</span>

                        <form action="{% url 'sumar_cantidad' item.id %}" method="post" class="qty-form">
                            {% csrf_token %}
                            <button class="qty-btn">+</button>
                        </form>
                    </td>

                    <td>$ {{ item.subtotal|floatformat:0 }}</td>

                    <td>
                        <form action="{% url 'eliminar_item_carrito' item.id %}" method="post">
                            {% csrf_token %}
                            <button class="delete-btn">X</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="total-box">
        Total: $ {{ total|floatformat:0 }}
    </div>

    <div class="action-row">
        <a href="{% url 'lista_productos' %}" class="btn-glowin">⬅ Seguir comprando</a>

        <a href="{% url 'vaciar_carrito' %}" class="btn-glowin btn-danger">🗑 Vaciar carrito</a>

        <a href="{% url 'checkout' %}" class="btn-glowin btn-green">
            Continuar compra ➡
        </a>
    </div>

</div>

{% endblock %}