/* DETALLE DE PRODUCTO — GLOWIN */

.product-page {
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Título */
.product-title {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin-bottom: 10px;
}

/* Precio */
.product-price {
    color: #d63384;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Descripción */
.product-description {
    font-size: 15px;
    color: #444;
    margin-bottom: 20px;
}

/* Cantidad */
.qty-input {
    width: 140px;
}

/* Volver */
.back-btn {
    margin-top: 10px;
    cursor: pointer;
}

/* TONOS */

.tonos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 8px;
}

.tono-item {
    text-align: center;
    cursor: pointer;
}

.tono-color {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-bottom: 4px;
    transition: border 0.2s ease, transform 0.2s ease;
}

/* Ocultar input */
.tono-item input[type="radio"] {
    display: none;
}

/* Si está seleccionado */
.tono-item input[type="radio"]:checked+.tono-color {
    border-color: #d63384;
    transform: scale(1.05);
}

.tono-nombre {
    font-size: 12px;
    color: #333;
}